.add-todo {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.add-todo input {
  flex-grow: 1;
}


.add-todo button {
  color: white;
  background-color: greenyellow;
  font-weight: bold;
  cursor: pointer;
}

.center {
  text-align: center;
  font-weight: bold;
}
