.add-todo {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.add-todo input {
  flex-grow: 1;
}

.add-todo input,
.add-todo button {
  padding: 0.75rem;
  border-radius: 0.25rem;
}

.add-todo button {
  color: white;
  background-color: black;
  font-weight: bold;
  cursor: pointer;
}

.center {
  text-align: center;
  font-weight: bold;
}
